.title {
  text-align: center;
  color: rgb(22, 22, 143);
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin: 70px 0 30px;
}

.title h2 {
  font-size: 32px;
  color: #000f38;
  margin-top: 5px;
  text-transform: none;
}
